<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/login" method="post">
    <div>
      <h2>
        FirstName
      </h2>
      <input type="text" name="firstName" />
    </div>

    <div>
      <h2>
        LastName
      </h2>
      <input type="text" name="lastName" />
    </div>

    <div>
      <h2>
        Email
      </h2>
      <input type="text" name="email" />
    </div>

    <div>
      <h2>
        Password
      </h2>
      <input type="text" name="password" />
    </div>

    <div>
      <h2>
        Age
      </h2>
      <input type="number" name="age" />
    </div>

    <div>
      <h2>
        City
      </h2>
      <input type="text" name="city" />
    </div>

    <button style="margin-top: 20px;">Submit</button>
  </form>
</body>

</html>