.App {
  text-align: center;
}

.top {
  display: flex;
}

.user {
  width: 50%;
  background-color: palevioletred;
}

.posts {
  width: 50%;  
  background-color: palegreen;
}

.comments{
  text-align: left;
  background-color: cornflowerblue;
}
