.three {
    display: flex;
    width: 600px;
    height: 450px;
    margin: 0 auto 50px auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    background: gold;
}

.first {
    height: 160px;
}

.a {
    width: 550px;
    height: 150px;
    background: gray;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 270px;
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 400px;
}

.b {
    width: 90%;
    height: 40%;
    background: red;
}

.c {
    width: 25%;
    height: 40%;
    background: blue;
}

.d {
    width: 25%;
    height: 40%;
    background: dodgerblue;
}

.e {
    width: 25%;
    height: 40%;
    background: fuchsia;
}

.right {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 150px;
}

.f {
    width: 90%;
    height: 90%;
    background: firebrick;
}

/*==============================================*/

.four {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    background: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.q {
    width: 590px;
    height: 150px;
    background: red;
}

.r {
    width: 650px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.w {
    width: 400px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 27px;
}

.hnbgv {
    width: 110px;
    height: 100px;
    background: green;
}

.t {
    width: 110px;
    height: 235px;
    background: orchid;
}


/*==============================================*/

.six {
    width: 700px;
    height: 900px;
    margin: 20px auto 0 auto;
    background-color: palevioletred;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.header {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.u {
    background-color: mediumblue;
    width: 200px;
    height: 300px;
}

.i {
    background-color: mediumblue;
    width: 200px;
    height: 300px;
}

.center {
    width: 600px;
    height: 200px;
    background-color: blueviolet;
    display: flex;
    margin: 0 auto;
}

.footer {
    width: 600px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.item {
    background-color: darkslategray;
    width: 30%;
    height: 100%;
}