/*=========================================*/

@media (max-width: 1061px) {
    .top__menu-icon {
        padding: 0;
    }
}

@media (max-width: 420px) {
    .top__menu {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/*=========================================*/

@media (max-width: 1061px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-around;
        padding: 0;
    }
}

@media (max-width: 420px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        height: 140px;
    }
}

/*=========================================*/

@media (max-width: 420px) {
    .title {
        height: 100%;
        padding-bottom: 20px;
    }
}

@media (max-width: 420px) {
    .title__text {
        height: 100%;
        padding: 20px;
    }
}

@media (max-width: 420px) {
    .btn {
        margin: 20px;
    }
}


/*=========================================*/

@media (max-width: 1200px) {
    .center {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-around;
    }
}

@media (max-width: 1061px) {
    .center {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 100%;
    }
}

@media (max-width: 557px) {
    .center {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 100%;
    }
}

@media (max-width: 1200px) {
    .catalog__list {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 420px) {
    .catalog__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 420px) {
    .catalog__item_img {
        height: 150px;
        width: 150px;
    }
}

/*=========================================*/

@media (max-width: 557px) {
    .price {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
}

@media (max-width: 557px) {
    .about__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: 20px;
    }
}

@media (max-width: 557px) {
    .about_card {
        width: 70%;
    }
}

/*=========================================*/

@media (max-width: 1200px) {
    .sale {
        height: 100%;
    }
}

@media (max-width: 1200px) {
    .sale__title {
        padding: 50px;
    }
}

@media (max-width: 767px) {
    .main_sale {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .sale__product {
        margin: 20px;
    }
}

@media (max-width: 767px) {
    .sale__product {
        margin: 10px;
    }
}

@media (max-width: 400px) {
    .sale__product {
        margin-bottom: 5px;
        width: 250px;
        height: 100%;
    }
}

@media (max-width: 400px) {
    .sale_seller {
        width: 116%;
    }
}

@media (max-width: 767px) {
    .sale__img {
        width: 70%;
    }
}

/*=========================================*/

@media (max-width: 767px) {
    .lower {
        height: 100%;
    }
}

@media (max-width: 767px) {
    .lower__main {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
}

@media (max-width: 767px) {
    .block1 {
        margin: 15px;
    }
}

@media (max-width: 767px) {
    .block__title {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .block__title-text {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .lower button {
        width: 30%;
    }
}

/*=========================================*/

@media (max-width: 767px) {
    .footer {
        height: 120px;
    }
}
