* {
    margin: 0;
    padding: 0;
}

.bgc {
    background: #38c6ee;
}

.bgcblack {
    background: #102a3e;
}

.bgcgray {
    background: #ced8e1;
}

.cw {
    color: white;
}

.cblack {
    color: #102a3e;
}

.caqua {
    color: #38c6ee;
}

.df {
    display: flex;
}

.jcsa {
    justify-content: space-around;
}

.br2 {
    border-radius: 2px;
}

.br10 {
    border-radius: 10px;
}

.br50 {
    border-radius: 50px;
}

.pright {
    padding-right: 100px;
}

.pad5 {
    padding: 5px;
}

.pad {
    padding: 20px;
}

.pt50 {
    padding-top: 50px;
}

.pt100 {
    padding-top: 100px;
}

.mtop20 {
    margin-top: 20px;
}

.mtop40 {
    margin-top: 40px;
}

.h40 {
    height: 40px;
}

.h400 {
    height: 400px;
}

.w70p {
    width: 70%;
}

.tac {
    text-align: center;
}


/*====================================*/

.top__menu {
    width: 100%;
    justify-content: flex-end;
}

.top__menu-icon {
    width: 300px;
}

.top__menu-icon-item {
    width: 40px;
    height: 5px;
}

.header {
    padding-left: 100px;
    height: 80px;
    justify-content: space-around;
}

.header__logo {
    width: 90px;
    height: 40px;
}

.title {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title__text-item {
    padding-top: 10px;
}

.title button {
    margin-top: 20px;
    width: 200px;
}

.catalog__grid {
    border: 2px solid #38c6ee;
}

.catalog__list {
    column-gap: 30px;
}

.catalog__item_img {
    height: 200px;
}

.about__grid {
    justify-content: space-evenly;
}

.about_card {
    border: 2px solid transparent;
    width: 30%;
    transition: all 0.5s;
    padding: 10px;
}

.about_card:hover {
    border-color: #38c6ee;
}

.about__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.main_sale {
    flex-wrap: wrap;
}

.sale {
    height: 1000px;
}

.sale__title {
    font-size: 30px;
    padding: 100px;
}

.sale__product {
    width: 300px;
    height: 300px;
    border: 2px solid #38c6ee;
    margin-bottom: 30px;
}

.sale__img {
    width: 250px;
    height: 100px;
    margin: 0 auto;
}

.sale_about {
    display: flex;
    justify-content: space-between;
}

.sale_title {
    font-size: 20px;
}

.sale_seller {
    width: 340px;
    border-top: 2px solid #38c6ee;
    margin-left: -20px;
    justify-content: space-between;
}

.sale_seller_logo {
    width: 40px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.sale_seller_social {
    width: 100px;
    column-gap: 10px;
}

.fb {
    width: 20px;
    height: 20px;
    margin-top: 20px;
}

.lower__main {
    justify-content: center;
    padding: 100px;
}

.block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 200px;
}

.block__title {
    margin: 0 auto;
}

.block__title-text {
    margin: 0 auto;
    width: 250px;
}

.block2 {
    width: 300px;
    height: 200px;
}

.lower button {
    margin-top: 25px;
    margin-left: 100px;
    width: 100px;
}

.footer {
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon__item {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.line {
    margin: 10px;
    width: 300px;
    height: 2px;
}