.h200 {
    height: 200px;
}

.h300 {
    height: 300px;
}

.h400 {
    height: 400px;
}

.w130 {
    width: 130px;
}

.w440 {
    width: 440px;
}

.w500 {
    width: 500px;
}

.ml500 {
    margin-left: 500px;
}

.bgcornblue {
    background: cornflowerblue;
}

.dfw{
    display: flex;
    flex-wrap: wrap;
}

.jcsa{
    justify-content: space-around;
}

.fdc{
    flex-direction: column;
}

.aic{
align-items: center;
}

/*=============================*/

.wrap {
    background: black;
    align-content: space-around;
    margin-left: 500px;
}

.block1 {
    background: red;
    width: 490px;
    height: 150px;
}

.block2 {
    background: blue;
    width: 290px;
}

.block3 {
    background: green;
    width: 190px;
}

/*=============================================*/

.two__one {
    height: 700px;
    background: grey;
    margin-top: 30px;
    margin-left: 500px;
    justify-content: space-evenly;
}

#header {
    background: red;
    width: 450px;
    height: 100px;
}

.main {
    background: palegreen;
}

#menu {
    width: 200px;
    height: 300px;
    background: crimson;
    margin: 20px;
}

.post {
    width: 200px;
    height: 100px;
}

#footer {
    background: coral;
    width: 450px;
    height: 100px;
}

/*=============================================*/

.two__two {
    height: 900px;
    background: darkorange;
    margin-top: 30px;
}

.widgets {
    background: cyan;
    width: 470px;
    height: 150px;
}

.bigger {
    height: 250px;
}


.contact {
    background: greenyellow;
    width: 470px;
}

/*=============================================*/


.two {
    height: 500px;
    background: hotpink;
    margin-top: 30px;
}

.block {
    height: 460px;
}

.headertwo {
    background: indigo;
    height: 70px;
}

.nav {
    background: crimson;
    height: 45px;
}

.maintwo {
    flex-grow: 2;
    background: darkslategray;
}

.aside {
    flex-grow: 1;
    background: seashell;
}

.footerTwo {
    background: sandybrown;
    height: 45px;
}