.header{
  width: 100%;
  height: 100px;
  background: black;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.header a{
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.header a[class='active']{
  color: red;
  text-decoration: underline;
}
