.wrap {
  display: flex;
  background: cornflowerblue;
}

.main{
  display: flex;
  margin-left: 100px;
  justify-content: center;
  background: crimson;
  align-items: center;
  width: 500px;
}

.usersBlock{
  display: flex;
}

.usersBody{
  width: 500px;
  margin-bottom: 30px;
}

.btn{
  margin-left: 30px;
  height: 20px;
}

.Posts{
  margin-top: 50px;
  margin-bottom: 20px;
  background: darkmagenta;
}

.btnPost{
  text-align: center;
  justify-content: center;
}