@media screen and (max-width: 1323px) {

    .header__bottom_personal {
        margin: 0;
        position: relative;
        bottom: 10px;
    }

    .header__bottom_personal img {
        padding-bottom: 5px;
    }

    .carousel__block_left_price {
        width: 230px;
    }

    .carousel__block_left_price span {
        margin-left: 20px;
    }
}

/*====================================================*/
/*====================================================*/


@media screen and (max-width: 1261px) {
    .top_sellers_block_title {
        margin: 30px 0 10px 5px;
    }

    .top_sellers_block_text {
        margin: 0 0 17px 5px;
    }

    .top_sellers_block_button {
        margin-left: 5px;
    }

    .top_sellers_block_info {
        width: 120px;
    }

    .top_sellers_block_info_two {
        margin-right: 8px;
    }

    .top_sellers_block {
        width: 330px;
        margin-right: 30px;
    }

    /*====================================================*/

    .carousel__block::before {
        margin-left: 5px;
        margin-right: 15px;
    }

    .carousel__block::after {
        margin-right: 5px;
    }
}

/*====================================================*/
/*====================================================*/


@media screen and (max-width: 1140px) {
    .nav__right {
        display: none;
    }

    .location {
        position: relative;
        top: 30px;
        right: 265px;
        width: 200px;
    }

    .work_time {
        position: relative;
        bottom: 20px;
    }

    .header__top_mobile {
        position: relative;
        right: 50px;
    }

    .more {
        display: flex;
        justify-content: flex-end;
        margin-top: -2px;
        margin-left: 200px;
    }

    select {
        cursor: none;
    }

    .nav__left {
        display: flex;
        justify-content: space-between;
    }

    .header__top_mobile {
        flex-wrap: wrap-reverse;
    }

    .cart {
        flex-direction: column;
    }

    .header__bottom_block input {
        margin-left: 0px;
    }

    .header__bottom_block_one {
        margin-right: 35px;
    }

    .like,
    .enter {
        display: block;
    }

    /*====================================================*/

    .carousel__block::before,
    .carousel__block::after {
        display: none;
    }

    .carousel__block_left {
        margin-left: 30px;
    }

    .carousel__block_mini_block {
        margin: 20px;
    }

    /*====================================================*/

    .top_sellers {
        position: relative;
        top: 150px;
        padding-right: 0px;
        width: 315px;
        height: 220px;
    }

    /*====================================================*/

    .filter {
        position: relative;
        top: 145px;
    }

    /*====================================================*/

    .products {
        position: relative;
        top: 120px;
    }

    /*====================================================*/

    .more_btn {
        position: relative;
        top: 100px;
    }

    /*====================================================*/

    .line_main,
    .line_hide {
        position: relative;
        top: 120px;
    }

    /*====================================================*/

    .news {
        position: relative;
        top: 100px;
    }

    .news__box {
        position: relative;
        top: 120px;
    }

    /*====================================================*/

    .big_line {
        position: relative;
        top: 120px;
    }

    /*====================================================*/

    .news__box_text {
        width: 229px;
        margin-right: 20px;
    }

    .news__box_link_three {
        width: 229px;
    }
}

/*====================================================*/
/*====================================================*/

@media screen and (max-width: 767px) {
    .header {
        padding-bottom: 0;
    }

    .nav__left {
        justify-content: start;
    }

    .header__logo img {
        width: 41px;
        height: 47px;
    }

    .work_time {
        bottom: 15px;
    }

    .header__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #0A1A2C;
    }

    .header-text {
        font-size: 9px;
        width: 123px;
    }

    .header__top {
        padding-top: 10px;
    }

    .header__logo_item {
        width: 140px;
    }

    .whatsApp {
        width: 132px;
        height: 18px;
        background: #E1EFD0;
        border-radius: 2px;
        margin-top: 10px;
        margin-left: -20px;
    }

    .whatsApp img {
        padding-left: 5px;
    }

    .whatsApp_title {
        font-weight: bold;
        font-size: 8px;
        line-height: 12px;
        text-align: start;
        padding-left: 5px;
    }

    .header__top_mobile {
        flex-wrap: wrap-reverse;
        width: 300px;
    }

    .call_back a {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #0F2438;
    }

    .call_back-title {
        font-size: 10px;
        line-height: 12px;
        margin-left: 0;
    }

    /*====================================================*/

    .header__bottom_block_one {
        margin-right: 30px;
        width: 50px;
    }

    .header__bottom_button {
        width: 34px;
        height: 34px;
        background: #005BB9;
        border-radius: 4px;
    }

    .catalog {
        display: none;
    }

    .header__bottom_block_src {
        width: 400px;
        height: 34px;
        background: #F4F5FA;
        border-radius: 4px 0px 0px 4px;
    }

    .header__bottom_block input {
        height: 34px;
    }

    .header__bottom img {
        padding-right: 0;
    }

    input[placeholder] {
        padding-right: 25px;
        text-overflow: ellipsis;
    }

    .botton_src {
        height: 34px;
        align-items: center;
    }

    .botton_src_text {
        display: flex;
    }

    .botton_src img {
        display: none;
        width: 10px;
        height: 10px;
        justify-content: center;
    }

    /*====================================================*/

    .carousel {
        flex-direction: column;
        height: 395px;
    }

    .carousel__block {
        margin-right: 10px;
        border-radius: 15px;
        margin-bottom: 20px;
        width: 466px;
        height: 318px;
    }

    .carousel__block_left_title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #0A1A2C;
        margin-left: 15px;
    }

    .carousel__block_left_text {
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        text-decoration-line: underline;
        color: #717171;
        margin-left: 15px;
        padding-bottom: 15px;
    }

    .carousel__block_left_price {
        font-size: 20px;
        line-height: 23px;
        display: flex;
        flex-wrap: wrap-reverse;
        width: 80%;
        margin-left: 15px;
    }

    .carousel__block_left_price span {
        font-size: 14px;
        line-height: 16px;
    }

    .carousel__block_left_button {
        width: 124px;
        height: 34px;
        margin-left: 15px;
    }

    .carousel__botton_text {
        font-size: 12px;
        line-height: 14px;
    }

    .carousel__block_right {
        height: 220px;
    }

    .carousel__block_right img {
        width: 260px;
        height: 200px;
        margin-top: 0;
    }

    .carousel__block_rings {
        display: flex;
        width: 68px;
        position: relative;
        right: 25px;
        top: 35px;
    }

    .carousel__block_rings img {
        width: 50%;
        height: 100%;
    }

    .carousel__block::before {
        display: none;
    }

    .carousel__block::after {
        display: none;
    }

    .carousel__block_mini_block {
        padding-right: 15px;
        margin: 5px;
        width: 265px;
        padding-right: 0px;
        height: 150px;
    }

    .carousel__block_mini {
        position: absolute;
        left: 490px;
    }

    .carousel__block_mini_items_title {
        font-size: 12px;
        line-height: 14px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .carousel__block_mini_items_code {
        font-size: 12px;
        line-height: 18px;
    }

    .carousel__block_mini_price {
        font-size: 14px;
        line-height: 16px;
    }

    .carousel__block_mini_price span {
        font-size: 12px;
        line-height: 14px;
        padding-right: 27px;
        position: relative;
        bottom: 22px;
        right: 50px;
    }

    .carousel__block_mini_items_img img {
        width: 58px;
        height: 54px;
    }

    .carousel__block_mini_btn {
        width: 42px;
        height: 42px;
    }

    /*====================================================*/

    .top_sellers_arrow_two span::after,
    .top_sellers_arrow span::before {
        display: none;
    }

    .top_sellers {
        top: 0;
    }

    .top_sellers_block {
        height: 126px;
        margin-right: 10px;
        display: flex;
        margin-top: 0;
    }

    .top_sellers_block_info {
        width: 155px;
    }

    .top_sellers_block_title {
        font-size: 16px;
        line-height: 19px;
        margin: 15px;
    }

    .top_sellers_block_text {
        width: 125px;
        font-size: 10px;
        line-height: 14px;
        margin: 15px;
    }

    .top_sellers_block_button {
        margin: 15px;
        font-size: 12px;
        line-height: 14px;
        width: 72px;
        height: 24px;
    }

    .top_sellers_block_img img {
        margin: 20px 0 0 0;
        width: 74px;
        height: 97px;
    }

    .top_sellers_block_img {
        height: 132px;
        align-items: center;
        margin-right: 20px;
        padding-left: 20px;
    }

    /*====================================================*/

    .filter {
        margin-bottom: 11px;
        position: absolute;
        top: 820px;
    }

    .filter_button_blue {
        width: 164px;
        height: 36px;
        font-size: 14px;
        line-height: 16px;
    }

    .filter_button_small {
        width: 82px;
        height: 36px;
        font-size: 14px;
        line-height: 16px;
    }

    .filter_button_white {
        width: 156px;
        height: 36px;
        font-size: 14px;
        line-height: 16px;
    }

    /*====================================================*/

    .products {
        top: 50px;
    }

    .products__block_hide_ipad {
        display: none;
    }

    .products__image_mb {
        margin-bottom: 22px;
    }

    .products__title_mb {
        margin-bottom: 41px;
    }

    .products__title_w {
        margin-bottom: 45px;
    }

    .products__block {
        width: 230px;
    }

    .products__image img {
        width: 248px;
        height: 211px;
    }

    .products__title {
        font-size: 15px;
        line-height: 18px;
    }

    .products__statistics span {
        display: none;
    }

    /*====================================================*/

    .line_main,
    .more_btn {
        top: 50px;
    }

    .more_btn_button {
        margin-bottom: 0;
    }

    /*====================================================*/

    .footer_box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer_text_info {
        width: 242px;
    }

    .footer_text_item {
        margin-bottom: 10px;
    }

    .footer_block_chat_url,
    .footer_block_chat_item_three {
        position: relative;
        left: 285px;
    }

    .footer_block_chat_item_btn {
        width: 159px;
    }

    .footer_block_chat_item_text_online {
        position: relative;
        top: 45px;
    }

    .footer_block_chat_item_text_online a {
        position: relative;
        top: 35px;
        right: 263px;
    }

    .footer_block_social {
        position: relative;
        left: 80px;
        padding-bottom: 24px;
    }

    .footer_finish {
        background: #0E1E2F;
    }

    .footer_finisn_year {
        padding-top: 24px;
        margin: 0;
    }
}

/*====================================================*/
/*====================================================*/

@media screen and (max-width: 414px) {

    .nav__right,
    .header__bottom_personal_two,
    .botton_src_text,
    .nav__left img,
    .information,
    .cooperation,
    .location,
    .work_time {
        display: none;
    }

    .header {
        padding-bottom: 10px;
    }

    .city {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .city span {
        width: 80px;
    }

    .wrapper {
        padding: 0 15px;
    }

    .nav__left {
        display: flex;
        justify-content: space-between;
        width: 247px;
    }

    .nav__left {
        justify-content: start;
    }

    .more {
        margin-left: 165px;
    }

    /*====================================================*/

    .header__top {
        margin-top: 0px;
    }

    .header__text {
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
    }

    .whatsApp {
        margin-right: 0;
    }

    .whatsApp_title {
        font-weight: bold;
        display: flex;
        align-items: start;
        font-size: 8px;
    }

    .header__top_mobile {
        justify-content: flex-end;
        left: 0;
    }

    .header__bottom_block_one {
        margin-right: 10px;
    }

    .header__bottom_block input {
        width: 272px;
    }

    .botton_src {
        width: 20%;
    }

    .header__bottom_block_src {
        margin-left: 20px;
        width: 100%;
    }

    .botton_src img {
        display: block;
        width: 10px;
        height: 10px;
        justify-content: center;
    }

    /*====================================================*/

    .carousel__block {
        width: 380px;
    }

    .carousel__block_right img {
        width: 147px;
        height: 125px;
        position: relative;
        top: 40px;
    }

    .carousel__block_rings {
        top: 30px;
        right: 70px;
    }

    .carousel__block_rings img {
        width: 30px;
        height: 50px;
    }

    .carousel__block_left {
        margin-left: 10px;
    }

    .carousel__block_mini {
        position: absolute;
        display: flex;
        left: 10px;
        top: 555px;
    }

    .carousel__block_mini_block {
        width: 280px;
    }

    .carousel__block_mini_price span {
        font-size: 12px;
        line-height: 14px;
        padding-right: 27px;
        position: relative;
        bottom: 0;
        right: 0;
        padding-top: 0;
    }

    /*====================================================*/

    .filter {
        position: absolute;
        top: 910px;
    }

    /*====================================================*/

    .top_sellers {
        top: 130px;
    }

    /*====================================================*/

    .products {
        justify-content: space-evenly;
        margin-top: 55px;
        top: 90px;
    }

    .products__block_hide {
        display: none;
    }

    .products__block {
        width: 230px;
    }

    .products__image {
        margin-bottom: 1px;
    }

    .products__image img {
        width: 149px;
        height: 127px;
    }

    .products__reviews,
    .products__reviews span,
    .products__price_number span {
        font-size: 10px;
        line-height: 12px;
    }


    .products__title {
        width: 138px;
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 34px;
    }

    .products__button {
        width: 110px;
        height: 35px;
    }

    .products_hide {
        display: flex;
    }

    .top_sellers_block {
        margin-right: 5px;
        margin-left: 5px;
    }

    .line_main {
        top: 100px;
    }

    .line_hide {
        display: block;
        top: 100px;
    }

    .products__price,
    .products__price span,
    .products__button,
    .products__button_text {
        font-size: 12px;
        line-height: 14px;
    }

    .products__button {
        width: 120px;
    }

    .products__price_number {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 18px;
    }

    .products__statistics {
        margin-left: 11px;
    }

    .products__statistics img {
        padding-right: 0;
        padding-left: 20px;
    }

    /*====================================================*/

    .more_btn {
        top: 70px;
    }

    .more_btn_button {
        width: 160px;
        height: 34px;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    /*====================================================*/

    .news {
        top: 70px;
    }

    .news_block {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 19px;
    }

    .news__box_item {
        margin-bottom: 0;
    }

    .news__box_image,
    .big_line {
        display: none;
    }

    .news__box {
        top: 70px;
        flex-direction: column;
    }

    .news__box_image {
        position: static;
        bottom: none;
    }

    .news__box_time {
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        bottom: none;
        margin-bottom: 8px;
        width: 58px;
        height: 16px;
        font-size: 10px;
        line-height: 12px;
    }

    .news__box_link {
        position: static;
        bottom: none;
        margin-bottom: 8px;
        width: 265px;
        font-size: 14px;
        line-height: 18px;
    }

    .news__box_text {
        margin-bottom: 20px;
        width: 290px;
        font-size: 12px;
        line-height: 18px;
    }

    .news__box_item:last-child {
        margin-bottom: 70px;
    }

    .news__box_text_four {
        padding-bottom: 60px;
        margin-bottom: 0;
    }

    /*====================================================*/

    .footer_box,
    .footer_block_data {
        display: flex;
        flex-wrap: wrap;
        width: 180px;
    }

    .footer_title {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 16px;
    }

    .footer_text a {
        font-size: 12px;
        line-height: 14px;
    }

    .footer_paiements {
        margin-top: 20px;
    }

    .footer_block_data_body_m,
    .footer_block_data_body {
        top: 0;
        right: 0;
        margin: 0;
    }

    .footer_block_chat_item_text {
        position: static;
        margin: 0;
        width: 300px;
    }

    .footer_block_chat_item_text_online {
        padding-right: 190px;
    }

    .footer_block_chat_item_text_online a {
        position: static;
        margin: 4px 0 0 0;
    }

    .footer_block_chat_item_three {
        position: static;
        margin-top: 25px;
    }

    .footer_block_chat_url {
        position: static;
        height: 34px;
        font-size: 12px;
        line-height: 14px;
    }

    .footer_block_chat_url input {
        width: 200px;
        position: relative;
        top: 2px;
    }

    .footer_block_chat_item_text {
        width: 390px;
        font-size: 14px;
        line-height: 16px;
    }

    .footer_block_chat_item_btn {
        font-size: 12px;
        line-height: 14px;
        width: 104px;
        height: 42px;
        right: 10px;
    }

    .footer_block_social {
        position: static;
        justify-content: start;
        width: 30px;
    }

    .footer_block_social img {
        margin-right: 45px;
        margin-left: 0;
        padding-top: 29px;
    }

    /*====================================================*/


    .footer_finisn_year {
        font-size: 12px;
        line-height: 14px;
    }


    /*====================================================*/

    .p_s {
        display: flex;
        position: absolute;
        justify-content: space-around;
        top: 860px;
        z-index: 1;
        background: #fff;
        margin: 0;
        height: 80px;
    }

    .p_s_numb_three {
        position: absolute;
        top: 17px;
        left: 160px;
    }

    .p_s_numb_two {
        position: absolute;
        top: 17px;
        left: 266px;
    }
}

/*====================================================*/
/*====================================================*/


@media screen and (max-width: 375px) {
    .products__statistics img {
        padding-left: 0px;
    }

    .header__bottom_block input {
        width: 250px;
    }

    .more {
        margin-left: 135px;
    }
}

/*====================================================*/
/*====================================================*/


@media screen and (max-width: 320px) {
    .more {
        margin-left: 80px;
    }

    .header__bottom_block input {
        width: 200px;
    }

    /*====================================================*/

    .carousel__block {
        width: 290px;
        height: 230px;
    }

    .carousel__block_mini_block {
        width: 270px;
    }

    .carousel__block_rings {
        top: 40px;
        right: 35px;
    }

    .carousel__block_mini {
        top: 470px;
    }

    /*====================================================*/

    .top_sellers {
        top: 50px;
    }

    /*====================================================*/

    .filter {
        top: 830px;
    }

    .filter_button_small,
    .filter_button_blue {
        margin-right: 10px;
    }

    /*====================================================*/

    .products {
        margin-top: 0;
    }

    .products__statistics {
        margin: 5px;
    }

    /*====================================================*/

    .footer_block_chat_url input {
        width: 180px;
    }

    /*====================================================*/

    .p_s {
        display: flex;
        position: absolute;
        justify-content: space-around;
        top: 625px;
        z-index: 1;
        background: #fff;
        margin: 0;
        height: 65px;
        width: 320px;
    }

    .p_s_numb_three {
        position: absolute;
        top: 8px;    
        left: 125px;
    }

    .p_s_numb_two {
        position: absolute;
        top: 8px;
        left: 205px;
    }
}