@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

.nav-top {
    display: block;
    height: 36px;
    background: #0F2438;
    color: #fff;
}

.wrapper {
    font-family: 'Roboto', sans-serif;
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav__box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    padding-top: 10px;
}

.nav__box a {
    color: #fff;
}

.nav__left {
    display: flex;
    width: 100%;
}

.nav__left img {
    margin-top: -4px;
}

.city {
    position: relative;
    bottom: 8px;
    padding-right: 20px;
    background: transparent;
    color: #fff;
}

.city img {
    position: relative;
    top: 2px;
}

.city a {
    text-decoration: underline;
}

select {
    background: none;
    color: #fff;
    cursor: pointer;
}

option {
    color: #000;
}

.information {
    margin-top: -3px;
    margin-right: 20px;
}

.cooperation {
    margin-top: -3px;
}

.more {
    display: none;
}

.nav__right {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav__right a {
    text-decoration: none;
}

/*==============================================================================*/

.header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding-bottom: 20px;
    background: #fff;
}

.header__top {
    padding-top: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.header-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
    width: 165px;
}

.header__logo {
    display: flex;
    background: #fff;
}

.mini_logo img {
    display: none;
}

.header__logo_item {
    width: 185px;
    margin: auto;
    text-align: start;
}

.work_time {
    display: flex;
    justify-content: space-between;
}

.work_time_title {
    width: 230px;
    height: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}

.location {
    display: flex;
    align-items: center;
    background: #fff;
}

.location img {
    margin-right: 15px;
}

.location_title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.header__top_mobile {
    display: flex;
    align-items: center;
}

.whatsApp {
    display: flex;
    align-items: center;
    border-radius: 2px;
    background: #E1EFD0;
    width: 204px;
    height: 30px;
    margin-right: 45px;
}

.whatsApp img {
    padding-left: 10px;
}

.whatsApp_title {
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}

.call_back a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}

.call_back-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
    margin-left: 25px;
}

/*==============================================================================*/

.header__bottom {
    margin-top: 35px;
    display: flex;
}

.header__bottom_block {
    width: 100%;
}

.header__bottom_button {
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    background: #fff;
    width: 20px;
    height: 3px;
}

.line2 {
    background: #fff;
    width: 20px;
    height: 3px;
    margin: 2px 0;
}

.line3 {
    background: #fff;
    width: 20px;
    height: 3px;
}

.line_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 10px;
}

.header__bottom_block_src {
    display: flex;
    width: 100%;
}

.botton_src {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101px;
    height: 53px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
}

.header__bottom_block input {
    width: 449px;
    height: 53px;
    background: #F4F5FA;
    border-radius: 6px 0px 0px 6px;
    margin-left: -200px;
    padding-left: 20px;
}


.botton_src_text {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.botton_src img {
    display: none;
    overflow: hidden;
}

.header__bottom_personal {
    display: flex;
    align-items: center;
    margin-left: 100px;
    height: 100%;
    margin-left: 66px;
}

.header__bottom_personal_item {
    background: #fff;
}

.enter {
    padding-right: 10px;
    border-right: 1px solid #E1E5F8;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    text-align: center;
}

.enter img {
    padding-right: 10px;
}

.like {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    margin-left: 10px;
    border-right: 1px solid #E1E5F8;
    text-align: center;
    padding-right: 10px;
}

.like img {
    padding-right: 10px;
}

.cart {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-align: center;
}

.cart img {
    padding-right: 10px;
    height: 100%;
}

.cart p {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
    width: 75px;
}

/*==============================================================================*/

.carousel {
    margin-top: 30px;
    width: auto;
    height: 400px;
    display: flex;
}

.carousel__block {
    background: url(./img/carousel.png) no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    height: 98%;
    width: 100%;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.carousel__block::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50%;
    background: url(./img/ico/arrow_left.png) no-repeat center;
}

.carousel__block::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
    background: url(./img/ico/arrow-right.png) no-repeat center;
}

.carousel__block_left_title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
    padding-bottom: 10px;
}

.carousel__block_left_text {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
    padding-bottom: 25px;
}

.carousel__block_left_price {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.carousel__block_left_price span {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.carousel__block_left_button {
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.carousel__button {
    display: flex;
    justify-content: space-between;
}

.carousel__botton_text {
    padding-left: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.carousel__block_right_img {
    position: relative;
    right: 10px;
}

.carousel__block_rings img {
    padding-right: 20px;
    padding-bottom: 40px;
}

.carousel__block_mini_block {
    width: 336px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
}

.carousel__block_mini_block:first-child {
    margin-bottom: 10px;
}

.carousel__block_mini_items_title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 18px;
}

.carousel__block_mini_items_flex {
    display: flex;
}

.carousel__block_mini_items_flex_column {
    display: flex;
    flex-direction: column;
}

.carousel__block_mini_items_img {
    padding: 0 15px;
}

.carousel__block_mini_items_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
    padding-bottom: 5px;
}

.carousel__block_mini_items_code {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
    padding-bottom: 20px;
}

.carousel__block_mini_price {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
    display: flex;
}

.carousel__block_mini_price span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    padding-left: 5px;
    padding-right: 35px;
    padding-top: 4px;
}

.carousel__block_mini_btn {
    width: 57px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

/*==============================================================================*/

.top_sellers {
    display: flex;
    justify-content: space-between;
}

.top_sellers_block {
    width: 405px;
    height: 184px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.top_sellers_block_title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
    margin: 30px 0 10px 30px;
}

.top_sellers_block_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
    margin: 0 0 17px 30px;
    width: 215px;
}

.top_sellers_block_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 86px;
    height: 26px;
    background: #005BB9;
    border-radius: 4px;
    margin-left: 30px;
}

.top_sellers_block_img {
    margin-top: -5px;
    padding-bottom: 15px;
}

.top_sellers_block_text_two {
    width: 170px;
    margin-right: 46px;
}

.top_sellers_block_text_three {
    width: 170px;
    margin-right: 2px;
}

.top_sellers_arrow {
    position: relative;
}

.top_sellers_arrow span::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(./img/ico/arrow_left.png) no-repeat center;
    position: absolute;
    top: 36%;
    left: -5%;
}

.top_sellers_arrow_two {
    position: relative;
}

.top_sellers_arrow_two span::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(./img/ico/arrow-right.png) no-repeat center;
    position: absolute;
    top: 36%;
    right: -5%;
}


/*==============================================================================*/


.filter {
    display: flex;
    position: relative;
}

.filter_button_blue {
    width: 241px;
    height: 55px;
    background: #005BB9;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.filter_button_small {
    width: 123px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background: #fff;
}

.filter_button_white {
    width: 241px;
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    background: #fff;
}

/*==============================================================================*/

.products {
    display: flex;
    justify-content: space-between;
}

.products__discount {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    width: 39px;
    height: 20px;
    position: absolute;
    background: #FFB800;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__image {
    margin-bottom: 21px;
}

.products__reviews {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
    margin-bottom: 10px;
}

.products__reviews span {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
}

.products__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
    margin-bottom: 46px;
}

.products__price {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 20px;
}

.products__price span {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}

.products__add {
    display: flex;
    margin-bottom: 40px;
}

.products__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
}

.products__button_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 8px;
}

.products__statistics {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
}

.products__statistics img {
    padding-right: 20px;
}

.products__title_mb {
    margin-bottom: 40px;
}

.products__image_mb {
    margin-bottom: 16px;
}

.products__price_number {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
    margin-bottom: 15px;
}

.products__price_number span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.products__price_number_mb {
    margin-bottom: 15px;
}

.products__title_w {
    width: 250px;
    margin-bottom: 22px;
}

.line_main {
    width: 100%;
    height: 1px;
    background: #E1E5F8;
    margin-bottom: 40px;
}

.line_hide {
    display: none;
    width: 100%;
    height: 1px;
    background: #E1E5F8;
    margin-bottom: 40px;
}

.more_btn {
    display: flex;
    justify-content: center;
}

.more_btn_button {
    width: 187px;
    height: 49px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #005BB9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.products_hide {
    display: none;
}

.line_hide {
    display: none;
}

/*==============================================================================*/

.news_block {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 14px;
}

/*==============================================================================*/


.big_line {
    height: 9px;
    background: #F5F5F5;
}

/*==============================================================================*/


.news__box {
    display: flex;
    justify-content: space-between;
}

.news__box_item {
    margin-bottom: 120px;
}

.news__box_image {
    position: relative;
    bottom: 10px;
}

.news__box_time {
    position: relative;
    bottom: 40px;
    width: 106px;
    height: 22px;
    background: #0C1A2A;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news__box_link {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    bottom: 25px;
}

.news__box_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}

.news__box_text_one {
    width: 284px;
}

.news__box_text_two {
    width: 311px;
}

.news__box_text_three {
    width: 260px;
}

.news__box_text_four {
    width: 252px;
}

.news__box_link_two {
    width: 191px;
}

.news__box_link_three {
    width: 268px;
}

.news__box_link_four {
    width: 278px;
}